.background {
    height: 100vh;
    width: 100vw;
    background-color: #222;
    text-align: center;
}

.title {
    color: rgb(102, 230, 123);
    margin: auto;
    padding-top: 1vh;
    display: block;
    font-size: 5vw;
}

.attrib {
    display: block;
    color: rgb(102, 230, 123);
    font-size: 1vh;
    text-align: left;
}

.rock-text {
    color: #222;
    text-shadow: 0px 0px 5px rgb(235, 114, 215);
}

.paper-text {
    color: #222;
    text-shadow: 0px 0px 5px rgb(100, 208, 250);
}

.scissors-text {
    color: #222;
    text-shadow: 0px 0px 5px rgb(253, 217, 98);
}

.container {
    height: 80%;
    width: 96%;
    display: grid;
    margin: 3% auto 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 1fr 1fr 10%;
    grid-template-areas:
        "scoreL scoreC scoreR"
        "battleL battleC battleR"
        "stationL stationC stationR"
        "nameL nameC nameR";
    justify-content: space-evenly;
    align-items: stretch;
}

.scoreL {
    grid-area: scoreL;
    color: rgb(102, 230, 123);
    text-shadow: 0px 0px 5px rgb(102, 230, 123);
    font-size: 4vw;
    margin: auto;
}

.scoreC {
    grid-area: scoreC;
    background-color: #222;
    border-radius: 5px;
    height: 15vh;
    max-height: 15vw;
    text-shadow: 0px 0px 5px rgb(102, 230, 123);
    box-shadow: 0px 0px 10px rgb(102, 230, 123);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.scoreR {
    grid-area: scoreR;
    color: rgb(102, 230, 123);
    text-shadow: 0px 0px 5px rgb(102, 230, 123);
    font-size: 4vw;
    margin: auto;
}

.battleL {
    grid-area: battleL;
}

.battleC {
    grid-area: battleC;
}
.battleR {
    grid-area: battleR;
}

.stationL {
    grid-area: stationL;
    align-self: end;
}

.stationC {
    grid-area: stationC;
    align-self: end;
}

.stationR {
    grid-area: stationR;
    align-self: end;
}

.nameL {
    grid-area: nameL;
}

.nameC {
    grid-area: nameC;
}

.nameR {
    grid-area: nameR;
}

.scoreboard-l {
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(102, 230, 123);
    max-height: 80%;
    max-width: 85%;
    margin: 0 5% 0 10%;
    grid-area: 1 / 1 / 2 / 2;
}

.scoreboard-r {
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(102, 230, 123);
    max-height: 80%;
    max-width: 85%;
    margin: 0 10% 0 5%;
    grid-area: 1 / 2 / 2 / 3;
}

.scoreboard-num {
    font-size: 5vw;
    color: rgb(102, 230, 123);
    margin: auto;
}

.rock {
    font-size: 3vw;
    color:rgb(235, 114, 215);
    text-shadow: 0px 0px 5px rgb(235, 114, 215);
    margin: auto;
    padding-top: 2vh;
}

.paper {
    font-size: 3vw;
    color:rgb(100, 208, 250);
    text-shadow: 0px 0px 5px rgb(100, 208, 250);
    margin: auto;
    padding-top: 2vh;
}

.scissors {
    font-size: 3vw;
    color:rgb(253, 217, 98);
    text-shadow: 0px 0px 5px rgb(253, 217, 98); 
    margin: auto;
    padding-top: 2vh;
}

.rock-image {
    width: 25vw;
    max-height: 255px;
    max-width: 225px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px #000;
}

.rock-image:hover {
    box-shadow: 0px 0px 15px rgb(235, 114, 215);
}

.paper-image {
    width: 25vw;
    max-height: 255px;
    max-width: 225px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px #000;
}

.paper-image:hover {
    box-shadow: 0px 0px 15px rgb(100, 208, 250);
}

.scissors-image {
    width: 25vw;
    max-height: 255px;
    max-width: 225px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px #000;
}

.scissors-image:hover {
    box-shadow: 0px 0px 15px rgb(253, 217, 98);
}